

{% extends "base.html" %}

{% block title %}
    Task-managment Created Task List
{% endblock  %}

{% block body %}
    <div class="container">
        <h1 class="is-size-2 has-text-primary">Created Task List</h1>
        {% if connections %}
            <form action="#" method="post" accept-charset="utf-8">
                {% csrf_token %}
                {% for connection in connections %}
                    <div class="box columns">
                        <div class="column">
                            <div>
                                <h1 class="is-size-4 has-text-primary-dark">{{ connection.connected_from.username }}</h2>
                            </div>
                            <p>
                                <strong>{{ connection.connected_to.full_name }}</strong><br>
                            </p>
                        </div>
                        <div class="column">
                            <button class="button" name="connection_id" value="{{ connection.id }}">Delete</button>
                        </div>
                    </div>
                {% endfor %}
            </form>
        {% endif %}
    </div>

{% endblock body %}
